@use '../abstracts' as *;

@media screen and (max-width: 414px) {
  .navigation-section-container {
      display: none;
    
  }
  
  .top-banner-mobile-view-container {
    &.hidden {
      display: block;
    }
    
    height: max-content;
    
    .top-banner-mobile-view {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 16px;
      background-color: $color-bg-primary;
      border-bottom: 1px solid $color-border;
      
      img {
        height: 24px;
        width: 24px;
      }
      
      .profile-icon-toggle {
        height: 34px;
        width: 34px;
        border-radius: $border-radius-full;
      }
      
      span {
        color: $color-primary;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
  
  .content-section-container {
    margin-left: 0px;
    position: relative;
    
    .content-section {
      &.hidden {
        display: none;
      }
      
      position: fixed;
      top: 54px;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100vh;
      display: block;
      z-index: $z-index-modal;
      overflow-y: auto;
      box-sizing: border-box;
    }
  }
  
  .floating-tweet-button {
    display: block !important;
    position: fixed;
    height: max-content;
    z-index: $z-index-overlay;
  }
}
