@use 'variables' as *;

// Hover effect for interactive elements
@mixin hover-overlay($opacity: 0.1) {
  transition: background-color $transition-base;
  
  &:hover {
    background-color: rgba(255, 255, 255, $opacity);
  }
}

// Button hover effect
@mixin button-hover($bg-color, $hover-color) {
  background-color: $bg-color;
  transition: background-color $transition-base;
  
  &:hover:not(:disabled) {
    background-color: $hover-color;
  }
}

// Flex center
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
