@use '../abstracts' as *;

.app_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 $spacing-lg;
    font-family: $font-family-base;
    h1 {
        color: $color-primary;
    }
}

.catalog_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: $spacing-lg;
    padding: $spacing-md;
    width: 100%;
    &_items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: $spacing-md;
    }
    &_item {
        @include card;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;
    }
}
