@use '../abstracts' as *;

header {
    .navbar {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

        .span {
            color: #007BFF;
        }

        #nav-list {
            display: flex;
            gap: 1rem;
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                a {
                    display: flex;
                    padding: 8px 16px;
                    color: $text-dark;
                    font-weight: 500;
                    transition: color 0.2s ease;
                    text-decoration: none;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}
