@use '../../styles/variables' as vars;

.cleaningTypeContainer {
    gap: vars.$spacing-md;
    padding: vars.$spacing-lg;
    .cleaningTypeCard {
        display: flex;
        // flex-direction: column;
        cursor: pointer;
        padding: vars.$spacing-md;
        border: vars.$border-width-medium solid vars.$border-color;
        border-radius: vars.$border-radius-lg;
        margin-bottom: vars.$spacing-xs;
        transition: vars.$transition-fast;
        background-color: vars.$white;

        &:hover {
            border-color: vars.$primary-color;
            background-color: vars.$background-light;
        }

        &.selected {
            border-color: vars.$primary-color;
            background-color: vars.$primary-light;
        }
    }
}