spring:
  application:
    name: smarthome

  datasource:
    url: jdbc:postgresql://localhost:5432/smarthome
    username: postgres
    password: ${PASSWORD}
    driver-class-name: org.postgresql.Driver
    database-platform: org.hibernate.dialect.PostgreSQLDialect


  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
      
jwt:
  secret: "MyVeryStrongJWTSecretKeyThatIsAtLeast32Chars!!"
  expiration-ms: 86400000

logging:
  level:
    org.hibernate.SQL: DEBUG           
    org.hibernate.type.descriptor.sql: TRACE  
    com.kdu.smarthome: DEBUG        