.user-card {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    line-height: 0.5;
    border-radius: 8px;
    cursor: pointer;
    p{
        color: #535252;
    }
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    }
    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 15px;
        object-fit: cover;
    }
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            margin-bottom: 5px;
            font-size: 14px;
            color: #333;
        }
    }

    .user-card-user-info{
        padding: 22px;
    }
}
