.form-container{
    display: flex;
    flex-direction: column;
    background: orange;
    gap: 20px;
    padding: 20px;
   
    input{
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
}

.form-inputs{
    display: flex;
 
    .form-fields{
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-right: 20px;
    }
}