@use '../abstracts' as *;

.hero-btn-1 {
    margin-right: 12px;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid darkcyan;
    transition: all 0.3s ease;
    background-color: $primary-color;
    color: white;
}

.hero-btn-2 {
    padding: 0.75rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    color: $primary-color;
    border-radius: 10px;
    border: 2px solid $primary-color;
    transition: all 0.3s ease;
}

.submit-btn {
    margin-top: 1rem;
    padding: 0.9rem 0;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    background-color: $primary-color;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken($primary-color, 10%);
    }
}
