spring:

  application:
      name: eventsphere

  datasource:
    url: jdbc:postgresql://localhost:5432/eventsphere
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  sql:
    init:
      mode: never

jwt:
  secret: "MyVeryStrongJWTSecretKeyThatIsAtLeast32Chars!!"
  expiration-ms: 86400000

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
