.search-bar {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;

    input {
        width: 100%;
        padding: 12px 16px;
        font-size: 12px;
        border: 1px solid #ddd;
        border-radius: 4px;
        outline: none;

        &::placeholder {
            color: #999;
        }
    }
    .cancel-search-btn{
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #ddd;
        font-size: large;
    }
}
